.checkbox {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  column-gap: 12px;
}

.checkbox:not(:hover) {
  --checkbox-marker-clr: var(--clr-black);
}

.checkbox:hover {
  --checkbox-marker-clr: var(--clr-green);
}

.checkbox:not(.checkbox_checked) {
  --checkbox-icon-clr: transparent;
}

.checkbox_checked {
  --checkbox-icon-clr: var(--clr-black);
}

.input {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.marker {
  display: grid;
  place-items: center;
  width: 15px;
  height: 15px;

  border: 1px solid var(--checkbox-marker-clr);

  cursor: pointer;
  transition: border 0.3s ease-in-out;
}
