.toggle {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  column-gap: 12px;
}

.toggle:not(.toggle_checked) {
  --toggle-marker-br-clr: var(--clr-black);
  --toggle-marker-bg-clr: transparent;
  --toggle-icon-br-clr: var(--clr-black);
  --toggle-icon-bg-clr: transparent;
  --toggle-icon-translateX: 0;
}

.toggle_checked {
  --toggle-marker-br-clr: var(--clr-green);
  --toggle-marker-bg-clr: var(--clr-green);
  --toggle-icon-br-clr: var(--clr-white);
  --toggle-icon-bg-clr: var(--clr-white);
  --toggle-icon-translateX: calc(100% - 2px);
}

.input {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.marker {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 25px;
  height: 15px;
  padding: 0px 2px;

  border: 1px solid var(--toggle-marker-br-clr);
  border-radius: 30px;
  background: var(--toggle-marker-bg-clr);

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon {
  width: 11px;
  height: 11px;

  border: 1px solid var(--toggle-icon-br-clr);
  border-radius: 50%;
  background: var(--toggle-icon-bg-clr);

  transform: translateX(var(--toggle-icon-translateX));
  transition: all 0.3s ease-in-out;
}
